/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 768px) {

    /* Menú */
    section.menu{
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-content: flex-end;
        height: 10vh;
        margin: 0px;
    }
    section.menu nav ul.menu__list{
        
        width: 150px;
    }


    section.menu nav ul.menu__list li:nth-child(1){
        display: none;  
    }
    section.menu nav ul.menu__list li:nth-child(2){
        display: none;  
    }
    section.menu nav ul.menu__list li:nth-child(3){
        display: none;  
    }
    section.menu nav ul.menu__list li:nth-child(4){
        display: none;  
    }
    section.menu nav ul.menu__list li:nth-child(5){
        display: none;  
    }


    /*title*/
    section.title{
        margin: 0px 30px;
        
        color: var(--color-titulos);
    }
    section.title div.title__div{
        display: flex;
        justify-content:left ;
        margin-right: 0;
    }
    section.title img.title__profile{
        width: 200px;
    }
    section.title div.title__container h2{
        font-size: 40px;
        font-weight: 600;
        line-height: 41px;
        width: 400px;
    }
    section.title div.title__div div.title__container h3{
        font-size: 17px;
        line-height: 23px;
        width: 400px; 
        margin-bottom: 30px;
    }
    
    section.title div.title__container{
        
    }
    section.title div.title__div div.title__container ul{
        width: 400px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }
    section.about{
        padding: 20px;
        background-color: var(--color-fondo-azul);
        width: 80%;
        margin: 0;
        border: 0;
    }
    section.about div.about__container{ 
        width: 550px;
        border: 0;
    }
    /*Skills*/
    section.skills{
        margin: 0px ;
    }
    section.skills div.skills__box{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 16px;
        background-color: var(--color-cajas);
        margin: 0px ;
        width: 150px;
        height: 160px;
    }
    section.skills div.skills__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
    }
    /*Hobbies*/
    section.hobbies{
        margin: 0px;
    }
    section.hobbies div.hobbies__line{
        
        width: 80%;
    }

    /*Formación Académica*/
    section.academic{
        padding: 64px 0;
        background-color: var(--color-fondo-azul);
    }
    section.academic h2.academic__title{
        font-size: 32px;
        text-align: center;
    }
    section.academic div.academic__courses{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 100px;
    }
    section.academic div.academic__courses__box{
        
        margin: 1px;
    }
    section.academic div.academic__courses__box ul{
        margin: 0px;
        padding: 0;
        
    }
    section.academic div.academic__courses__box ul li{
        margin: 0px;
        padding: 0;
    
    }
    div.academic__courses__box ul li.academic__courses__item__img{
        background-color:  var(--color-cajas) ;
        padding: 0px;
        text-align: center;
        width: 100%;
        
    
    }
    div.academic__courses__box ul li.academic__courses__item__img img{
        margin: 0px;
        
    }
    div.academic__courses__box ul li.academic__courses__item__title{
        font-size: 20px;
        line-height: 0px;
        margin: 0;
    }
    div.academic__courses__box ul li.academic__courses__item__subtitle{
        font-size: 20px;
        line-height: 0px;
    }
    /*Experiencia Profesional*/
    section.experience div.experiencie__box{
        display: flex;
        flex-direction: column;
        
    }
    section.experience div.reverse{
        flex-direction: column;
    
    }
    div.academic__courses__box ul li.academic__courses__item__title{
        font-size: 20px;
        line-height: 20px;
        margin: 0;
    }

    /* experiencia*/
section.experience{
    padding: 64px 0px;
}
section.experience h2.experience__section__title{
    text-align: center;
    font-size: 32px;
}
section.experience div.experiencie__box{
    display: flex;
    margin:0px;
    
}
section.experience div.experiencie__box img.experience__img{
    width: 600px;

}
section.experience div.reverse img.experience__img{
    flex-direction: row-reverse;
    width: 600px;
}
section.experience div.experiencie__box div.experience__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}
section.experience div.experiencie__box div.experience__info h2.experience__title{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}
section.experience div.experiencie__box div.experience__info h3.experience__text{
    font-weight: 100;
}


    /*Contacto*/
    section.formcontato{
        padding: 10px;
        
    }
    section.formcontato div.formcontato__contacto{
        display: flex;
        align-items: center;
        height: 100%;
        width: 600;
        
    }
    section.formcontato div.formcontato__contacto div.formcontato--esquerda{
        display: none;
    }
    
    section.formcontato div.formcontato__contacto div.formcontato__text h3{
        font-weight: 200;
        width: 550px;
    }
    
    /*Mobile*/
    @media (max-width: 425px) {
    
    /*Menu*/
    
    /*Titulo*/
    
    /*Sección sobre mi*/
    section.about{
        padding: 20px;
        background-color: var(--color-fondo-azul);
        width: 80%;
        margin: 0;
        border: 0;
    }
    section.about div.about__container{ 
        width: 450px;
        border: 0;
    }
    /*Skills*/
    
    /*Hobbies*/
     /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
    
    /*Footer*/
    
    }